<!DOCTYPE html>
<!-- ng-app entre aspas informa o módulo -->
<html ng-app="app">
<head>


  <meta charset="UTF-8"/>
  <title>App</title>
  <meta name="viewport" content="width=device-width; charset=utf-8"/>

  <link rel="stylesheet" href="assets/css/styles.min.css"/>

  </head>

</head>


<body>

  <div ng-include="'components/navbar.html'"></div>

  <div ng-controller="HomeCtrl">

    <div class="row">
           <div class="col s12 m6 l3 animated bounce" ng-repeat="data in datas">
             <div class="card">
               <div class="card-image">
                 <img ng-src="{{ data.image }}">
                 <span class="card-title"> {{ data.name }} </span>
               </div>
               <div class="card-content">
                 {{ title }}
               </div>
               <div class="card-action">
                 <a href="#">This is a link</a>
               </div>
             </div>
           </div>
         </div>

  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
         <a class="btn-floating btn-large red">
             <i class="large mdi-editor-mode-edit"></i>
         </a>
         <ul>
             <li><a class="btn-floating yellow darken-1" ng-click="loadData()"><i class="large mdi-content-save"></i></a>
             </li>
             <li><a class="btn-floating green" ng-click="loadData()"><i class="large mdi-file-folder"></i></a></li>
             <li><a class="btn-floating blue" ng-click="loadData()"><i class="large mdi-file-cloud-circle"></i></a>
             </li>
         </ul>
     </div>

  <script src="assets/js/scripts.min.js"></script>
  <script>
    // Declarando o Módulo
    angular.module('app',[]);
    // Consumindo o Módulo
    angular.module('app').controller('HomeCtrl',
    function($scope, $http)
    {
      $scope.title = "Bem vindo ao AngularJS";
      $scope.datas = [];
      loadData();



      function loadData()
      {
        $http.get('data/data.json')
          .success(function (data){
            $scope.datas = angular.fromJson(data);
            Materialize.toast('Dados carregados com sucesso =) ', 4000, 'green');
          })
          .catch(function (data){
            Materialize.toast('Falha ao carregar os dados =( ', 4000, 'red');
        }
      );
      
      }
    }

    );

  </script>

</body>

</html>
